extends layout

block headContent
	title HappyUC Blockchain Explorer - Home
	
block content
	h1 HappyUC Blockchain Explorer
	hr

	:markdown-it
		**HUC Explorer** is [open-source](https://github.com/dreamxyp/happyuc-explorer). If you run your own [HappyUC Full Node](https://HappyUC.org/), **HUC Explorer** can easily run alongside it, communicating via RPC calls. See the project [ReadMe](https://github.com/dreamxyp/happyuc-explorer) for a list of features and instructions for running.

	
	if (latestBlocks)
		h3 Latest Blocks
			if (getblockchaininfo.initialblockdownload)
				small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)


		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug

		hr
		a(href="/blocks", class="btn btn-primary btn-block") See more

	hr

	div(class="")
		ul
			li MIT-licensed source code available on github: 
				a(href="https://github.com/dreamxyp/happyuc-explorer") dreamxyp/happyuc-explorer

			li Public instance maintained at 
				a(href="https://happyuc-explorer.007.li") https://happyuc-explorer.007.li
			
			li Donate: 
				a(href="happyuc:Um9jdDMCq2qxrML8vn1RGHnnbtV2V8Mu92") HUC
				span  - Um9jdDMCq2qxrML8vn1RGHnnbtV2V8Mu92